[Desktop Entry]
Name=Bitwarden
Exec=/home/caubut/.local/bin/bitwarden
Terminal=false
Type=Application
Icon=/home/caubut/.local/share/icons/bitwarden.png
StartupWMClass=Bitwarden
X-AppImage-Version=1.32.1
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
Categories=Utility;
MimeType=text/html;x-scheme-handler/bitwarden;
